.l-topbar {
  position: fixed;
  height: $topbar-height;
  background: $topbar-bg;
  width: 100%;
  color: #fff;

  .l-topbar__title {
    float: left;
    padding: $padding-base-vt;
    height: $topbar-height;
    width: $sidebar-width;
  }

  .l-topbar__inner {
    float: left;
    padding: $padding-base-vt;
  }
}
