.dropdown {
  position: relative;

  .dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;

    list-style: none;

    margin: 2px 0 0;
    padding: 5px 0;
    min-width: 160px;

    background: #fff;
    border: 1px solid $brand-grey;
    border-radius: $border-radius-base;
  }

  .dropdown__menu > li > a {
    display: block;
    width: 100%;
    padding: 5px 20px;
    color: $text-color;
  }

  .dropdown__menu > li > a:hover,
  .dropdown__menu > li > a.dropdown__menu__link--active {
    background: $brand-grey--lt;
  }
}
