label {
  display: inline-block;
  width: 100%;
  // Force IE8 to wrap long content (see https//github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group { margin-bottom: 20px; }

.form-control {
  display: block;
  width: 100%;
  // Make inputs at least the height of their button counterpart
  // (base line-height + padding + border)
  height: ($line-height-computed + $padding-base-vt);
  padding: $input-padding;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: #fff;
  // Reset unusual Firefox-on-Android default style see https//github.com/necolas/normalize.css/issues/214
  background-image: none;
  border: 1px solid $input-color;
  // Note This has no effect on <select>s in some browsers,
  // due to the limited stylability of <select>s in CSS.
  border-radius: $border-radius-base;
}

// Reset height for `textarea`s
textarea.form-control { height: auto; }

.form-control-static {
  // Size it appropriately next to real form controls
  padding: $input-padding 0;
  // Remove default margin from `p`
  margin-bottom: 0;
  min-height: ($line-height-computed + $padding-base-vt);

  &.input--lg,
  &.input--sm {
    padding-left: 0;
    padding-right: 0;
  }
}
