/**
 * Mixins
 */
@mixin alert-variant($color) {
  background: $color;
  border-color: darken($color, $color--lt);
}

/**
 * Alerts
 * @usage
 * <div class="alert alert--success" />
 */
.alert {
  width: 100%;
  padding: $padding-base-vt $padding-base-hr;
  vertical-align: middle;
  background-color: $color-grey;
  border: 1px solid;
  border-color: transparent;
  border-radius: $border-radius-base;

  /**
   * Color variants
   */
  &.alert--primary {
    @include alert-variant(convert(color-primary));
  }

  &.alert--success {
    @include alert-variant(convert(color-success));
  }

  &.alert--warning {
    @include alert-variant(convert(color-warning));
  }

  &.alert--danger {
    @include alert-variant(convert(color-danger));
  }
}
