h1, .h1
  font-size unit(font-size-h1, px)

h2, .h2
  font-size unit(font-size-h2, px)

h3, .h3
  font-size unit(font-size-h3, px)

h4, .h4
  font-size unit(font-size-h4, px)

h5, .h5
  font-size  unit(font-size-h5, px)

h6, .h6
  font-size unit(font-size-h6, px)

p
  font-size unit(font-size-base, px)
