// Base
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  letter-spacing -1px
  line-height headings-line-height
  font-family unquote(headings-font-family)
  font-weight headings-font-weight
  color unquote(headings-color)
  margin-top unit(line-height-computed / 2, px)
  margin-bottom unit(line-height-computed / 2, px)

  small, .small
    letter-spacing initial // Remove the letter-spacing from the heading
    padding-top unit(font-size-small, px)
    font-size 70%

h1, .h1
  font-size unit(font-size-h1, px)

h2, .h2
  font-size unit(font-size-h2, px)

h3, .h3
  font-size unit(font-size-h3, px)

h4, .h4
  font-size unit(font-size-h4, px)

h5, .h5
  font-size  unit(font-size-h5, px)

h6, .h6
  font-size unit(font-size-h6, px)

p
  margin 0 0 unit(line-height-computed / 2, px)

small
  font-family unquote(font-family-base)
  display block
  color unquote(headings-small-color)

.title
  letter-spacing initial
  color: unquote(color-base-sub)
  text-transform uppercase
  font-weight bold

a
  color unquote(link-color)
  text-decoration none

  &:hover
    color darken(rgba(convert(link-color)), color--dk)
    text-decoration underline
